tmp
.vscode
vault_pass.txt
certs
.env

.nx/installation
.nx/cache
.nx/workspace-data

dist/
node_modules

.pnp/
.pnp.js
.pnp.cjs
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.yarnrc.yml

vite.config.*.timestamp*
vitest.config.*.timestamp*

.DS_Store
.git
