package identity

import "github.com/lordsonvimal/synergy/apps/sis/modules/shared/ui/layouts"

templ RenderIndexPage(users []UserInfo) {
	@layouts.Layout("Users") {
		<h1 class="text-2xl font-bold mb-6">Users</h1>
		@RenderUsersList(users)
	}
}
