package identity

import "github.com/lordsonvimal/synergy/apps/sis/modules/shared/ui/layouts"

templ RenderIndexPage(users []UserInfo) {
	@layouts.Layout("Users") {
		<div class="flex justify-between items-baseline">
			<h1 class="text-2xl font-bold mb-6">Users</h1>
			<button
				class="active:scale-95 px-4 py-2 bg-blue-600 text-primary-50 rounded hover:bg-blue-700 transition cursor-pointer"
				data-on:click="@get('/users/new')"
			>New User</button>
		</div>
		@RenderUsersList(users)
	}
}
