package identity

templ RenderUserFormSubmitButton() {
	<div class="flex justify-end">
		<button
			data-on:click="@post('/users/create', { contentType: 'form', selector: '#create-user-form' })"
			data-indicator="_fetching"
			data-attr:disabled="$_fetching"
			form="create-user-form"
			type="submit"
			class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 disabled:bg-gray-400 cursor-pointer disabled:cursor-not-allowed transition"
		>
			Create User
		</button>
	</div>
}
