package layouts

templ Layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>{ title }</title>
			<link href="/style.css" rel="stylesheet"/>
		</head>
		<body class="bg-gray-100 min-h-screen">
			{ children... }
		</body>
	</html>
}
