package modal

templ RenderModalRoot() {
	<div
		id="app-modal-root"
		data-signals='{ "_modalStack": [] }'
		data-on:keydown__window="
			if (evt.key === 'Escape' && $_modalStack.length > 0) {
				const el = $_modalStack.pop();
				el.remove();
			}
		"
		tabindex="0"
	></div>
}
