package payment

import "github.com/lordsonvimal/synergy/apps/sis/modules/shared/ui/layouts"

templ RenderFeesPage() {
	@layouts.Layout(layouts.LayoutConfig{
		Title: "Fees",
	}) {
		<h1 class="text-2xl font-bold mb-6">Fees</h1>
	}
}
