package organization

import "fmt"

templ RenderStat(title string, value any) {
	<div class="bg-surface p-4 rounded shadow text-center">
		<div class="text-gray-600 text-sm">{ title }</div>
		<div class="text-gray-900 text-2xl font-bold mt-1">{ fmt.Sprintf("%v", value) }</div>
	</div>
}
